doctype html

head
    title= title
    link(rel="stylesheet", type="text/css", href="style.css")
body
    div#head 麻将

    #back-text 南

    #game
        #notif.
        #draw-buttons
            #pickup.
            #wall
                img(src="assets/blank-tile.png")
                .label draw

        #hand
            #bonus
                img(src="assets/blank-bonus.png")
                img(src="assets/blank-bonus.png")
                img(src="assets/blank-bonus.png")
            #normal
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
        
        #game-info
            | You wind position is: <b>南</b><br/>
            | waiting for <b>jaune (西)</b> to play...

        #select-buttons
            #discard
                .label discard
            #meld 
                .label meld
            #selected
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
        
        #melds
            .meld
                .label eyes
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
            .meld
                .label pong
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
            .meld
                .label kong
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
            .meld
                .label chow
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")
                img(src="assets/blank-tile.png")

    script(src="/socket.io/socket.io.js")
    
    script(src="/scripts/init.js")
    script(src="/scripts/game.js")