doctype html

head
    title= title
    link(rel="stylesheet", type="text/css", href="style.css")
body
    div#head 麻将

    #waiting.

    script(src="/socket.io/socket.io.js")
    
    script(src="/scripts/init.js")
    script(src="/scripts/waiting.js")