@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
    --color-bg: #f77;
    --color-main: #fd7;
    --color-light: #fd77;

    background: var(--color-bg);

    margin: 0;
    text-align: center;
}


#back-text {
    font-size: 80vmin;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fd74;
    z-index: -99;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
#not-found {
    background: var(--color-main);
    color: var(--color-bg);

    width: 80vw;
    height: 20vh;

    margin: 0;
    padding: 0;

    font-family: "Josefin Sans";

    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#not-found div {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#not-found b {
    background: var(--color-bg);
    color: var(--color-main);

    padding: 0.6vh;

    margin-right: 1vw;
}


#head {
    background: var(--color-main);
    color: var(--color-bg);

    height: 10vh;

    margin-bottom: 2vh;

    font-family: "Josefin Sans";
    font-size: 6vh;

    text-align: center;
    white-space: nowrap;
}

#in {
    width: 80vw;
    height: 20vh;

    margin: 0;
    padding: 0;

    font-family: "Josefin Sans";

    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#in input {
    display: block;

    overflow: hidden;

    background: none;
    color: var(--color-main);

    width: 100%;
    height: 50%;

    margin: 0;
    margin-bottom: 0.8em;
    padding: 0;
    padding-left: 0.4em;

    border: none;
    border-left: 0.2em solid var(--color-main);
    outline: none;

    font-family: "Josefin Sans";
    font-size: 6vh;
}

#in input::placeholder {
    color: var(--color-light)
}

#in button {
    display: block;

    background: var(--color-main);
    color: var(--color-bg);

    width: 100%;
    height: 50%;

    margin: 0;
    padding: 0;
    padding-left: 0.4em;

    border: none;
    outline: none;

    font-family: "Josefin Sans";
    font-size: 6vh;

    text-transform: uppercase;
}


.group {
    font-family: "Josefin Sans";

    position: relative;

    border: 5px solid var(--color-main);

    margin: 2vh;
}

.group .label {
    background: var(--color-main);
    color: var(--color-bg);

    font-weight: bold;
    font-size: 3vh;

    margin: 0;
    padding: 1vh;
}

.group .desc {
    font-size: 3.5vmin;

    color: var(--color-main);

    padding: 1vh;
    padding-bottom: calc(7vh + 0.8em);
}

.group button {
    font-size: 3vh;
    
    position: absolute;
    left: 0.4em;
    bottom: 0.4em;

    width: calc(100% - 0.8em);
    height: calc(3vh + 1.2em);

    padding: calc(0.6em - 2.5px);

    background: var(--color-main);
    color: var(--color-bg);
    border: none;

    text-transform: uppercase;
    font-weight: bold;
}

.group button.disabled {
    background: var(--color-bg);
    border: 5px solid var(--color-light);
    color: var(--color-light);
}

button#new-game {
    display: block;

    width: calc(100% - 4vh);

    background: var(--color-main);
    color: var(--color-bg);
    border: 5px solid var(--color-main);

    font-family: "Josefin Sans";
    font-weight: bold;
    font-size: 4vh;

    text-transform: uppercase;

    position: relative;

    border: 5px solid var(--color-main);

    margin: 2vh;
    margin-bottom: 6vh;
    padding: 1vh;
}


#waiting {
    font-family: "Josefin Sans";

    margin: 1vh;

    color: var(--color-main);
}

#waiting .label {
    font-size: 4vh;

    padding-top: 2vh;
    padding-bottom: 2vh;

    margin-bottom: 1vh;
}

#waiting #buttons {
    padding: 0;

    padding-bottom: 2vh;
    margin-bottom: 1vh;
    border-bottom: 1vh solid #fd7;
}

.block {
    display: inline-block;

    font-size: 3vh;

    background: var(--color-main);
    color: var(--color-bg);
    border: none;

    margin: 0.5vh;
    padding: 1vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;

    width: calc(50% - 3vh);

    font-family: "Josefin Sans";

    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    transition: background-color ease 1s;
}

.block.small {
    width: calc(20vh - 3vh);
    text-align: center;
}

.block.disabled {
    background: none;
    color: var(--color-light);

    padding: 0.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;

    border: 0.5vh solid var(--color-light)
}

img {
    margin-right: 0.5vh;
}


#err {
    display: none;

    background: var(--color-main);
    color: var(--color-bg);

    padding: 6px;

    text-align: center;

    position: fixed;
    left: 0.8em;
    right: 0.8em;
    bottom: 0.8em;
}


#game {
    width: calc(100% - 2vh);
    height: 100%;

    text-align: center;

    margin-top: 1vh;
    margin-left: 1vh;
}

#game #draw-buttons {
    padding-bottom: 1vh;
    border-bottom: 0.5vh solid var(--color-main);
    margin-bottom: 2vh;
}

#game #draw-buttons>div {
    position: relative;

    background: var(--color-main);

    display: inline-block;

    width: calc(35vw - 2vh);
    height: calc(3em + 2vh);

    margin: 0.5vh;
}

#game #draw-buttons img {
    position: absolute;
    left: 1vh;
    top: 1vh;
    height: 3em;
}

#game #draw-buttons .label {
    font-family: "Josefin Sans";
    font-size: 2vw;
    font-weight: bold;

    color: var(--color-bg);

    position: absolute;
    left: calc(3em*(16/23) + 1vw + (100% - 3em*(16/23))/2);
    top: 50%;

    text-transform: uppercase;

    white-space: nowrap;

    transform: translate(-50%,-50%);
}

#hand {
    padding-bottom: 1vh;
    border-bottom: 0.5vh solid var(--color-main);
    margin-bottom: 2vh;
}

#hand #bonus {
    margin-bottom: 2vh;
}

#hand>div {
    background: var(--color-light);
    margin: 2vh;
    padding: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#hand img {
    height: 5vh;
}

#game-info {
    color: var(--color-main);
    font-family: "Josefin Sans";
    font-size: 3vw;
    
    padding-bottom: 1vh;
    border-bottom: 0.5vh solid var(--color-main);
    margin-bottom: 4vh;
}

#game #select-buttons {
    display: inline-block;
}

#game #select-buttons #discard, #game #select-buttons #meld {
    position: relative;

    background: var(--color-main);

    display: inline-block;

    width: calc(35vw - 2vh);
    height: calc(3em + 2vh);

    margin: 0.5vh;
}

#game #select-buttons .label {
    font-family: "Josefin Sans";
    font-size: 2vw;
    font-weight: bold;

    color: var(--color-bg);

    position: absolute;
    left: 50%;
    top: 50%;

    text-transform: uppercase;

    white-space: nowrap;

    transform: translate(-50%,-50%);
}

#game #select-buttons #selected {
    background: var(--color-light);
    margin: 2vh;
    padding: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: left;
}

#game #select-buttons #selected img {
    height: 5vh;
}

#game #melds {
    padding-top: 2vh;
    border-top: 0.5vh solid var(--color-main);
    margin-top: 1vh;
}

#game #melds>div {
    position: relative;
    background: var(--color-light);
    margin: 2vh;
    padding: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: left;
}

#game #melds>div .label {
    position: absolute;
    right: 1vh;
    font-size: 5vh;
    font-family: "Josefin Sans";
    font-weight: bold;
    color: var(--color-bg);
    text-transform: uppercase;
}

#game #melds img {
    height: 5vh;
}